{% extends 'blog/ru/base.html' %}
{% block title %}Биография{% endblock %}
{% block content %}
    <h1>Биография</h1>
    {% if bio %}
        {% if bio.image %}
            <img src="{{ bio.image.url }}" alt="Фото">
            {% if bio.image_caption %}
                <p class="meta">{{ bio.image_caption }}</p>
            {% endif %}
        {% endif %}
        <div class="article-body">{{ bio.content_ru|safe }}</div>
    {% else %}
        <p>Биография скоро появится.</p>
    {% endif %}
{% endblock %}